* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.App {
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 20px;
}

.user-head {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: left;
}

.user-head img {
  border-radius: 50%;
  border: 2px solid;
  width: 75px;
}

.user-head p {
  font-weight: bold;
  font-size: larger;
}

.user-head span {
  opacity: 0.6;
  font-size: smaller;
}

.user-head button {
  color: #c90707ea;
}

form {
  margin-bottom: 20px;
}

input,
button,
textarea {
  padding: 10px;
  margin: 5px;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.note {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 7px 14px -10px;
  padding: 15px;
  margin: 5px;
  min-width: 200px;
  text-align: left;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.note .note-user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.note .note-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid#ccc;
  object-fit: cover;
}

.note .note-user p,
.note .note-date {
  font-size: smaller;
  opacity: 0.7;
}

.note-btns {
  display: flex;
  justify-content: end;
}

.note-btns button,
.user-head button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
}

.note-btns button:first-child {
  color: #c90707ea;
}

.note-btns button:nth-child(2) {
  color: #2e23d1ea;
}